@using WeatherApiClass;
@using System.Globalization;
@model ResponseWeather;
<link rel="stylesheet" type="text/css" href="~/css/site.css?version=3">
<html lang="en">
<body>
    <div>
        <h1 id="textforecastheader">
            Тук е заглавието
        </h1>
    </div>
    <div>
        <h2 id="textforecast">
            Тук е прогнозата
        </h2>
    </div>
</body>
</html>
