/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


/* Make the website responsive and mobile friendly
*{
    margin: 0;
    pading: 0;
}
.wrapper{
    width: 100%;
}
body {
    padding:30px 30px 20px;
}
@media only screen and (min-width: 768px){
   body{
       width:600px;
       margin: 0 auto;
   }
    #sattellite-image{
        padding: 20px 0px 0px;
    }
}

*/
/*#forecast {
    float: left;
    display: inline-block;
}*/
#sattellite-image{
    padding:0px 30px 20px;
    line-height:25px;
    width:100%;
}
body {
    padding-top: 10px;
    padding-bottom: 10px;
}
#name{
    padding-top:15px;
}
#currentweatherconditions {

    color:rebeccapurple;
    padding-top:10px;
    padding-bottom:5px;

}
#sunset {
    padding-bottom: 1px; 
    margin-bottom: 10px;
       
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
