/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


/* Make the website responsive and mobile friendly
*{
    margin: 0;
    pading: 0;
}
.wrapper{
    width: 100%;
}
body {
    padding:30px 30px 20px;
}


*/
.CurrentCityForecast {
    /*display: table-cell; /*alligns them horizontally*/
    border: solid;
    border-color: black;
}
#sattellite-image {
    margin-top:20px;
    margin-left: 50px;
    padding: 20px 30px 20px;
    line-height: 25px;
    width: 100%;
}
#sattellite {
    margin-top: 100px;
    margin-left: 290px;
}
body {
    margin: 0;
    padding: 0;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}
.box {
    position: absolute;
    top:30%;
    left:27%;
    background: rgba(237, 237, 237, .36);
    box-shadow: 0 1px 2px rgba(0,0,0, .30);
    border-radius:4px;
    width:650px;
    height:300px;
}
.today {
    font-family:sans-serif;
    color:#222;
    font-size:25px;
    padding-top: 15px;
    padding-left:10px;
}
.name {
    /*font-size: 40px !important;
    padding-left: -80px;
    padding-top: 70px;
    margin-left: 20px;
    margin-top: -60px;
    padding-bottom: 24px;
    font-size: 20px;*/
    font-size: 40px !important;
    padding-left: -80px;
    padding-top: 122px;
    margin-left: 20px;
    margin-top: -60px;
    padding-bottom: 54px;
    font-size: 20px;
}
.weatherdescription {
    margin-left: 46px;
    margin-top: -48px;
    padding-bottom: 4px;
    font-size: 25px;
}
#forecastbox{
    width:150px;
    margin-left:-46px;
    margin-top:-22px;
}
.weatherdescriptionforecast {
    padding: 8px;
    margin-left:0px;
    margin-top:-6px;
}
.weatherdescriptioncurrent {
    margin-left: 10px;
    padding-left: 10px;
}
.weatherdescriptioncurrenttxt {
    margin-left: 18px;
    margin-top: -18px;
}
.temperature {
    margin-left: 320px;
    margin-top: -163px;
    font-size: 30px;
    font-weight: bold;
}
.time {
    margin-left: 150px;
    margin-top: -50px;
    padding-bottom:5px;
    font-size:15px;
}
.date {
    margin-left: 150px;
    margin-top: -14px;
    padding-bottom: 10px;
    font-size: 25px;
}
#sunrise {
    margin-left: 460px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
#sunset {
    margin-left: 460px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
#wind {
    margin-left: 460px;
    margin-top: -100px;
    font-size: 20px;
    font-weight: bold;
}
#humidity {
    margin-left: 460px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
#pressure {
    margin-left: 460px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
#forecast {
    display: block;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.DateAndTimeForecast {
    word-wrap: break-word;
}
div.UVDescription {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
div.UVDescription a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
div.UVDescription a:hover {
    background-color: #777;
}

#UVDescription {
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*Addin styles to the text forecast page*/
.textforecastheader {
    padding-left: 45px;
    padding-top: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}
.textforecast {
    padding-top: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Style the tab */
.tab {
    width:550px;
    margin-top:454px;
    margin-left:365px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.5s;
     font-size: 17px;
}

#UVDescription {
    background-color: aliceblue;
    position: relative;
    left: -48px;
    top: -50px;
    padding-bottom: 30px;
    width: calc(100% - 200px);
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#UVDescription > div {
    background-color: aliceblue;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
     background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    margin-left: 400px;
    display: inline-block;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    text-align:center;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
