/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


/* Make the website responsive and mobile friendly
*{
    margin: 0;
    pading: 0;
}
.wrapper{
    width: 100%;
}
body {
    padding:30px 30px 20px;
}


*/

#sattellite-image{
    padding:0px 30px 20px;
    line-height:25px;
    width:100%;
}
body {
    margin: 0;
    padding: 0;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}
.box {
    position: absolute;
    top:30%;
    left:27%;
    background: rgba(237, 237, 237, .36);
    box-shadow: 0 1px 2px rgba(0,0,0, .30);
    border-radius:4px;
    width:550px;
    height:300px;
}
.today {
    font-family:sans-serif;
    color:#222;
    font-size:25px;
    padding-top: 15px;
    padding-left:10px;
}
.name {
    /*font-size: 40px !important;
    padding-left: -80px;
    padding-top: 70px;
    margin-left: 20px;
    margin-top: -60px;
    padding-bottom: 24px;
    font-size: 20px;*/

    font-size: 40px !important;
    padding-left: -80px;
    padding-top: 122px;
    margin-left: 20px;
    margin-top: -60px;
    padding-bottom: 54px;
    font-size: 20px;
}
.weatherdescription {
    margin-left: 30px;
    margin-top: -44px;
    padding-bottom: 25px;
    font-size: 25px;
}
.temperature {
    margin-left:200px;
    margin-top:-120px;
    font-size:30px;
    font-weight:bold;
}
.time {
    margin-left: 150px;
    margin-top: -50px;
    padding-bottom:5px;
    font-size:15px;
}
.date {
    margin-left: 150px;
    margin-top: -14px;
    padding-bottom: 10px;
    font-size: 25px;
}
#sunrise {
    margin-left: 320px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
#sunset {
    margin-left: 320px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
#wind {
    margin-left: 320px;
    margin-top: -100px;
    font-size: 20px;
    font-weight: bold;
}
#humidity {
    margin-left: 320px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
#pressure {
    margin-left: 320px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}



#forecast {
    padding-top: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.DateAndTimeForecast {
    word-wrap: break-word;
}

.UVIndexForecast {
    float: left;
    padding: 4px;
    margin-top: 50px;
    margin: 2px;
    border: double;
    border-color: aqua;
}

#UVDescription {
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
